.header .navbar {
    width: 100%;
    height: 100px;

}
.header .navbar ul{
    width: 100%;
    display: inline-flex;
    float: right;

}
.header .navbar ul li {
    margin-right: 100px;
}

.header .app_logo{

}
.header .app_logo img {
    width: 600px;
    float: left;
}